{
    auto_https off
    log {
        level DEBUG
    }

    oidc example {
        issuer http://oidc-provider/example
        client_id xyz
        scope openid email
        username email
        authenticate cookie {
            name caddy
            secret {env.COOKIE_SECRET}
            insecure
        }
    }
}

http:// {
    log

    oidc example {
        allow {
            user admin@example.com
        }
    }

    header X-User-Claim-Email "{http.auth.user.claim.email}" {
        defer
    }
    respond "{http.auth.user.id}"
}